body {
	font: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
	background: linear-gradient(to right, #ff0000, #00ff00 );
}

.colors {
	display: flex;
	justify-content: center;
}

.colors div {
	margin: 15px;
	font: 600 1.0em "Raleway", sans-serif;
	text-decoration: underline;
}

.color1, .color2 {
	cursor: pointer;
}

h1 {
    font: 600 3.5em "Raleway", sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}

h2 {
	margin: 25px;
}

#result {
	display: flex;
	justify-content: center;
}

#result h3 {
	background-color: gray;
	border: solid 1px black;
	border-radius: 10px;
	margin: 5px;
	padding: 10px;
	font: 600 1.0em "Raleway", sans-serif;
}

h4 {
	font: 900 1em "Raleway", sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;

}

@media only screen and (max-width: 800px) {
	h1 {
		font: 600 1.5em "Raleway", sans-serif;
	}

}
